<h1>新規登録</h1>
<div class="col-xs-12 base new-padding">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <!--name表示の追加-->
    <div class="col-xs-8 col-xs-offset-4">
      <%= f.label :名前 %><br />
      <%= f.text_field :name, autofocus: true, class: "name col-xs-6 form-margin" %>
    </div>
    <!--name表示の追加-->

    <div class="col-xs-8 col-xs-offset-4">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, class: "email col-xs-6 form-margin" %>
    </div>

    <div class="col-xs-8 col-xs-offset-4">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "password col-xs-6 form-margin" %>
    </div>

  <!--パスワード確認入力フォーム-->
    <div class="col-xs-8 col-xs-offset-4">
      <%= f.label :パスワード確認 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "password_confirm col-xs-6 form-margin" %>
    </div>

    <div class="col-xs-8 col-xs-offset-4">
      <%= f.submit "新規登録",class: "btn btn-success form-margin" %>
    </div>
  <% end %>
  <div class="col-xs-8 col-xs-offset-4">
  <%= render "devise/shared/links" %>
  </div>
</div>