<% if @model == 'user' %>
  <h1>'<%= @content %>'の検索結果です</h1>
  <div class="col-xs-12 base index-user-padding">
    <table class="table">
      <tbody>
        <% @datas.each do |user| %>
          <tr>
            <td><%= attachment_image_tag(user, :image, fallback: "46477.jpg", :size => '150x150') %></td>
            <td><%= user.name %></td>
            <td>フォロー数：<%= user.follower.count %></td>
            <td>フォロワー数：<%= user.followed.count %></td>
            <td>
              <% if current_user != user %>
                <% if current_user.following?(user) %>
                  <%= link_to 'フォロー解除', user_relationships_path(user.id), method: :delete , class: "btn btn-danger"%>
                <% else %>
                  <%= link_to 'フォローする', user_relationships_path(user.id),method: :POST , class: "btn btn-primary"%>
                <% end %>
              <% end %>
            </td>
            <td><%= link_to "詳細へ", user, class: "btn btn-default user_#{user.id}" %></td>
          </tr>
        <% end %>
      <tbody>
    </table>
  </div>
<% else %>
  <h1>'<%= @content %>'の検索結果です</h1>
  <div class="col-xs-12 base index-padding">
    <% @datas.each do |game| %>
      <div class="col-xs-3">
        <div class="imgWrap">
          <%= attachment_image_tag(game, :image, fallback: "no-image-mini.jpg", :size => '250x250') %>
        </div>
        <h4>
          タイトル：
          <%= link_to(game) do %>
          <%= game.title %>
        </h4>
          <% end %>
        <p>
          ジャンル：
          <%= game.genre %>
        </p>
        <div id="favorites_buttons_<%= game.id %>">
          <%= render partial: 'favorites/favorites', locals: { game: game} %>
        </div>
        <p>
          コメント数：
          <%= game.game_comments.count %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>