<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "name" %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.attachment_field :image, class: "user_image" %>
  </div>
  <div class="field">
    <%= f.label :introduction %>
    <%= f.text_area :introduction, class: "introduction" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to '退会',leave_path(@user), class: "col-xs-3 btn btn-default edit_user_#{@user.id}" %>