<div class="col-xs-12">
  <% @games.each do |game| %>
  <%= attachment_image_tag(game.user, :image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
  <%= game.user.name %>
  <%= game.title %>
  <%= attachment_image_tag(game, :image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
<div id="favorites_buttons_<%= game.id %>">
  <%= render partial: 'favorites/favorites', locals: { game: game} %>
</div>
    <p>コメント数：<%= game.game_comments.count %></p>
  <% end %>
</div>