<div class="col-xs-12 base">
<%= form_with model: @game, url: games_path,  local: true do |f| %>
  <div class="col-xs-8 col-xs-offset-4">
    <%= render 'layouts/errors', model: f.object %>
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "col-xs-6 game_title" %>
  </div>

  <div class="col-xs-8 col-xs-offset-4">
    <%= f.label :image %><br>
    <%= f.attachment_field :image, class: "col-xs-6 game_image" %>
  </div>

  <div class="col-xs-8 col-xs-offset-4">
    <%= f.label :feeling %><br>
    <%= f.text_area :feeling, class: "col-xs-6 game_feeling" %>
  </div>
  <div class="col-xs-8 col-xs-offset-4">
  <%= f.select :genre, [["その他"], ["アクション"], ["シューティング"], ["アドベンチャー"], ["ロールプレイング"], ["パズル"], ["レースゲーム"], ["シミュレーション"], ["リズムゲーム"], ["スポーツ"]] %>
  </div>
  <div class="actions col-xs-8 col-xs-offset-4">
    <%= f.submit class: "btn btn-primary col-xs-6" %>
  </div>
<% end %>
</div>